<div class="col-xs-12">
  <%= f.field_container :payment_method_springboard_id, class: ['form-group'] do %>
    <%= label_tag :payment_method_springboard_id, Spree.t(:springboard_id) %>
    <%= text_field :payment_method, :springboard_id, class: 'form-control' %>
  <% end %>
</div>
