<div data-hook="admin_user_form_springboard_id_fields" class="col-xs-12 col-md-6">
  <%= field_container :springboard_id, :name, class: ['form-group'], 'data-hook' => 'springboard_id' do %>
    <%= f.label :springboard_id, Spree.t(:springboard_id) %>
    <%= f.text_field :springboard_id, class: 'form-control', readonly: true %>
  <% end %>
</div>
