<div class="col-xs-12">
  <%= field_container :springboard_id, :name, class: ['form-group'], 'data-hook' => 'name' do %>
    <%= f.label :springboard_id, Spree.t(:springboard_id) %>
    <%= f.text_field :springboard_id, class: 'form-control' %>
  <% end %>
</div>
